.insight-landing-cover{
  background-image: url("moving-cover.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.insight-landing-cover:before {
  background: linear-gradient(#000,transparent);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.insight-landing-intro{
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 700px;
  padding: 8% 0;
  position: relative;
  text-align: center;
}

.intro-info-landing{
  margin: 80px auto;
  position: relative;
  z-index: 3;
  max-width: 590px;
}

@media (max-width: 35.5em){

  .insight-landing-cover{
    height: 550px;
  }
  .insight-landing-intro{
    min-height: 500px;
    padding: 0px 0px;
  }
  .intro-info-landing{
    margin: 180px auto;
    max-width: 390px;
    position: relative;
    z-index: 3;
  }

}

/*  intro and cover   */
#insight-landing-page {
  overflow: hidden;
  padding-top: 66px;
  position: relative;
  top: -68px;
  margin-bottom: -50px;
}


/*  Calculator */



.full-quote {
  position: relative;
  margin-top: -90px;
  padding-right: 25px;
  padding-left: 25px;
}
.calc-container {
  position: relative;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
.quote-background {
  margin-right: 15px;
  margin-left: 15px;
  padding: 40px 30px 25px;
  border-radius: 6px;
  background-color: #1f0e3f;
}
.calc-header{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.calc-header h3{
  color: #fff;
  font-family: 'Maison Neue Bold';
  font-size: 20px;
}

.calc-form{
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-container-result{
  border-radius: 5px;
  text-align: center;
  color: white;
}


input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
 {
  height: 50px;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px none #000;
    border-radius: 4px;
    background-color: #2c1656;
    color: #fff !important;
    font-size: 13px;
    font-weight: 500;
}
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea::placeholder
{
    color: #fff !important;

}
input:not([type]):focus, input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus
{
    background: #2c1656;
    border-color: #2c1656;
    outline: none;
}
.form-element{
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  width: 30%;
}

.w-input::placeholder{
  color: #fff;
  font-size: 12px;
}
input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 12px !important;
    line-height: inherit;
}

select {
  height: 50px;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px none #000;
    border-radius: 4px;
    background-color: #2c1656;
    color: #fff !important;
    font-size: 13px;
    font-weight: 500;
}
select:focus {
    background-color: #2c1656;
    border-color: #2c1656;
    outline: none;

}

.calculate-element{
  width: 94%;
  margin: auto;
}
.calculate-button{
  color: #fff ;
  margin: auto ;
  background-color: #7e46ea ;
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
  border-radius: 4px;
  padding: 15px 40px;
  font-family: 'Maison Neue Bold';
}
.calculate-button:hover{
  background-color: #7e46ea ;
}
.calculate-button:focus{
  outline: none;
}
@media (max-width: 35.5em){
  .form-element{
    width: 100%;
  }
  .full-quote {
    position: relative;
    margin-top: -90px;
  }
  .calc-container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .quote-background {
    margin-right: 0px;
    margin-left: 0px;
  }
  .w-select {
    margin-bottom: 15px;
  }


}













/* =======================================*/

/* rates section */

.vl {
  border-left: 1px solid lightgrey;
  height: 300px;
}

.insight-landing-reviews, .insight-landing-services {
  background: #f8f9fa;
  margin-top: 1.25%;
  padding: 10% 0;
}

.insight-landing-rates {
  background: #f8f9fa;
  margin-top: -100px;
  padding: 150px 0;
}

.insight-landing-rates-header, .insight-landing-services-header, .insight-landing-reviews-header{
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: center;
}
.insight-landing-rates-header h3, .insight-landing-reviews-header h3{
  font-family: 'Maison Neue Bold';
  font-size: 32px;
}
.x-grid{
  z-index: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.insight-landing-rates-hourly{
  flex: 0 1 auto;
  margin: 0px;
}


.insight-landing-rates-body{
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 2.5%;
}
.rate-body{
  font-family: 'Maison Neue',sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.rate-header{
  text-align: center;
  font-family: 'Maison Neue Bold';
  -webkit-font-smoothing: antialiased;
}

.hourly-rates, .flat-rates{
  z-index: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  font-family: 'Maison Neue Bold';
}
.flat-rates{
  flex-direction: column;
  margin-top: 10%;
}
.pricing-rate{
  margin: auto;
}

.hourly-rates label {
  font-size: 16px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
  padding-right: 20px;
}
.flat-rates label {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  display: block;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
}
.two-way-arrow {
    background-image: url(https://www.pinclipart.com/picdir/middle/165-1651998_two-way-arrows-two-way-arrow-png-clipart.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1.2em;
    display: inline-block;
    text-indent: -999em;
    height: 1em;
    width: 2em;
}
.pricing-currency{
  color:#7e46ea;
  font-size: 40px;
}
.pricing-amount{
  font-size: 80px !important;
  color: #7e46ea;
}
.right{
  color: #7e46ea;
}
.right:hover{
  color: #7e46ea;
  text-decoration: none;
}


/* ---------------------------------------------*/
@media (max-width: 35.5em){
  .insight-landing-rates-header{
    margin: 35px auto;
    padding-bottom: 5%;
    text-align: center;
  }
  .insight-landing-reviews, .insight-landing-services {
    margin-top: 4.25%;
  }
  .vl {
    border-bottom: 1px solid lightgrey;
    width: 350px;
    border-left: none;
    height: auto;
  }
  .insight-landing-rates-hourly {
    margin-bottom: 10%;
  }
  .insight-landing-rates-flat {
    margin-top: 10%;
    width: 90%;
  }
  .rate-body{
    font-size: 16px;
  }
  .rate-header{
    font-size: 25px;
  }
  .hourly-rates{
    flex-direction: column;
  }
  .pricing-rate{
    margin: auto;
  }
  .pricing-amount{
    font-size: 50px !important;
  }
  .pricing-currency{
    font-size: 30px !important;
  }
  .hourly-rates label {
    font-size: 14px;
  }
}
/* ---------------------------------------------*/

/* services section */

.insight-landing-services-header h3{
  font-family: 'Maison Neue Bold';
  font-size: 32px;
}
.insight-landing-services-header-subtitle{
  color: #7e46ea;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Maison Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 35.5em){
  .insight-landing-services-header h3, .insight-landing-reviews-header h3{
    font-size: 25px;
  }
  .insight-landing-rates-header h3 {
    font-size: 25px;
  }
  .card{
    height: 200px;
  }
  .insight-landing-services-header-subtitle{
    font-size: 14px;
  }
}



/* --------------- reviews ----------------------------------------*/

.reviews-header-title-purple, .reviews-footer-title-purple{
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #7e46ea ;
  margin-bottom: 20px;
  font-family: 'Maison Neue Bold';
}

.insigth-landing-reviews-tweets {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5% 0 15%;
}
.insight-landing-reviews-tweet {
    padding: 0 1.25%;
    width: 33.3%;
}
#insight-landing-page div div div div.insight-landing-reviews-logos {
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 2.5%;
  width: 80%;
  margin: auto;
}
.insight-landing-reviews-logo{
  -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    padding: 0 1.5%;
    width: 200px;
    margin: auto;
}
.insight-landing-reviews-logo img{
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

@media (max-width: 35.5em){
  .reviews-header-title-blue, .reviews-footer-title-blue{
    font-size: 14px;
  }
}
