@media (max-width: 35.5em){
  #app {
      font-size: 12px;
  }
}
/*  intro and cover   */
#insight-landing-page {
  overflow: hidden;
  padding-top: 66px;
  position: relative;
  top: -68px;
}

.insight-landing-cover{
  background-image: url("moving-cover.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.insight-landing-cover:before {
  background: linear-gradient(#000,transparent);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.insight-landing-intro{
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 700px;
  padding: 8% 0;
  position: relative;
  text-align: center;
}
.arrow{
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  bottom: 0;
  padding-bottom: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  left: 50%;
  margin-left: -24px;
  -webkit-transition: bottom .5s ease-out;
  transition: bottom .5s ease-out;
  position: absolute;
  width: 48px;
  z-index: 10;
}
.arrow:hover{
  bottom: -15px;
}
.intro-info-landing{
  margin: 80px auto;
  position: relative;
  z-index: 3;
}
.anchor {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}

/* rates section */

.insight-landing-rates{
  background: #f8f9fa;
  margin-top: 1.25%;
  padding: 10% 0;
}
.x-container{
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 2.5%;
}
.insight-landing-rates-header{
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: center;
}
.insight-landing-rates-header h3{
  font-family: 'Maison Neue Bold';
  font-size: 2.33051rem;
  line-height: 3.17797rem;
}
.x-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-between
}

.insight-landing-rates-hourly{
  flex: 0 1 auto;
  margin: 0px;
}

.insight-landing-rates-hourly{
  flex: 0 1 auto;
  margin: 0px;
}
.rate-body{
  font-family: 'Maison Neue',sans-serif;
}

@media (max-width: 35.5em){
  .insight-landing-rates-header h3{
    font-size: 25px;
  }
  .intro-info-landing{
    margin: 180px auto;
    max-width: 390px;
    position: relative;
    z-index: 3;
  }
}

/* services section */

.insight-landing-services{
  background: #f8f9fa;
  margin-top: 1.25%;
  padding: 10% 0;
}

.insight-landing-services-header{
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: center;
}
.insight-landing-services-header h3{
  font-family: 'Maison Neue Bold';
  font-size: 2.33051rem;
  line-height: 3.17797rem;
}

/* services card   */

.cards-list {
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;

}

.card {
  margin: 20px 20px;
  width: 400px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.16), -5px -5px 30px 7px rgba(0, 0, 0, 0.08);
  transition: 0.4s;
  border: 0px solid rgba(0,0,0,.125) !important;
  border-radius: 6px !important;
}

.card .card_image {
  height: inherit;
  border-radius: 6px;
}
.card.card-4.card_image img{
  width: inherit;
  height: inherit;
  border-radius: 6px;
  object-fit: cover;
}

.card .card_image img {
  width: -webkit-fill-available;
  height: inherit;
  border-radius: 6px;
  object-fit: cover;
}

.card .card_title {
  position: absolute;
  left: 35px;
  top: 35px;
  right: auto;
  bottom: auto;
  z-index: 1;
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
  text-decoration: none;
}
.card .card_title p{
  margin: 0px !important;
  color: #162438;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Maison Neue Bold';
}

.card:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.card:hover, .card:focus, .card:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.blog-text-darken {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 100%;
    border-radius: 6px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.53), rgba(22, 36, 56, 0));
}
.blog-text-darken:hover {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 100%;
    border-radius: 6px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(22, 36, 56, 0));
}
