#app nav.navbar{
  font-family: 'Maison Neue Demi';
}
.nav-bar-link:hover{
  text-decoration: none;
}
.nav-link:active, .nav-link:hover, .nav-link:focus{
  color: purple !important;
}
.mr-auto.navbar-nav a {
  color: black !important;
  margin-left: 10px;
}
.navbar-brand a{
  color: #000;
}
.navbar-brand a:hover{
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 300px){
  .navbar-nav {
    margin-left: 13%;
  }
  nav.navbar{
    font-size: 15px;
  }
  .navbar-brand {
    margin-left: 10%;
  }
}
@media only screen and (min-width: 1000px) {
  #basic-navbar-nav {
    margin-left: 40px !important;
  }

}
.navbar {
  -webkit-box-shadow: rgba(0,0,0,.1) 0 2px 4px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    color: #0c0e0f;
}
.navbar-button.btn-primary{
  border-radius: 100px;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: transparent;
}

/*Request button*/
.navbar-button.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7e46ea;
    border-color: #7e46ea;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #7e46ea !important;
}

.navbar-button.btn-primary {
    color: #fff;
    background-color: #7e46ea;
    border-color: #7e46ea;
    font-family: 'Maison Neue Bold',sans-serif;
}
.navbar-button.btn-primary:hover {
    color: #fff;
    background-color: #7e46ea;
    border-color: #7e46ea;
}
.navbar-button.btn-primary:focus {
    box-shadow: 0 0 0 0 #7e46ea
}
.navbar button:focus {
    outline: none !important;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent !important;
}
.navbar-collapse{
  overflow: hidden;
}
