#insight-pricing-page {
  padding-bottom: 2.5%;
  position: relative;
  transition: padding-right .2s;
  min-height: 100vh;
}
.insight-pricing-cover{
  background-image: url("pricing-background.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.insight-pricing-cover:before {
  background: linear-gradient(#000,transparent);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.insight-pricing-intro{
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 700px;
  padding: 8% 0;
  position: relative;
  text-align: center;
}

@media (max-width: 35.5em){
  .insight-pricing-intro{
      min-height: 500px;
  }
  .insight-pricing-cover{
    height: 600px;
  }
  .section-title{
    font-size: 2rem;
  }
  .section-subtitle{
    font-size: 1rem;
  }
}
